body {
    margin: 0;
}
header{
    background-color: dodgerblue;
    background-image: url("../img/pattern.png");
    background-size: 40%;
    height: 130px;
    padding-left: 1%;
}

#logo {
    width: 18%;
    padding-top: 5%;
}

h1 {
    font-size: 50px;
    margin-bottom: 0%;
}

#sub1 {
    font-weight: 600;
    color: grey;
}

#sub2 {
    color:deepskyblue;
}

#sub3 {
    color: grey;
    font-size: 13px;
}